
*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    overflow: auto;
}

nav{
    position:absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    background-color: #053B50;
}

.logoPolibest{
    position: absolute;
    text-align: left;
    width: 60px;
    height: 60px;
    left: 32px;
    top: 5px;
}

.logoBD{
    position: absolute;
    text-align: right;
    width: 70px;
    height: 60px;
    left: 1270px;
    top: 6px;
}

.navBD{
    position: absolute;
    width: 271px;
    height: 24px;
    left: 108px;
    top: 11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.navPBS{
    position: absolute;
    width: 191px;
    height: 18px;
    left: 108px;
    top: 42px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: white;
}

.navTGL{
    position: absolute;
    width: 150px;
    height: 15px;
    left: 1128px;
    top: 28px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFCFC;
}

.Gedungkampus{
    position: absolute;
    width: 836px;
    height: 385px;
    left: 0px;
    top: 70px;

    border-radius: 0px 0px 20px 0px;
}


.lihatPROFIL{
    position: absolute;
    width: 313px;
    height: 55px;
    left: 300px;
    top: 590px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-decoration-line: underline;

    color: #00F0FF;
}

.selamatdatang{
    position: absolute;
    width: 212px;
    height: 29px;
    left: 862px;
    top: 128px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #053B50;

}

.program{
    position: absolute;
    width: 406px;
    height: 36px;
    left: 862px;
    top: 170px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #053B50;
}

.boxlogin{
    position: absolute;
    width: 370px;
    height: 306px;
    left: 910px;
    top: 250px;

    background: #F9F9F9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

h1{
    position: absolute;
    width: 108.02px;
    height: 32.62px;
    left: 1065px;
    top: 260px;

    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    font-weight: bold;

    color: #053B50;
}

.nim{
    position: absolute;
    width: 80px;
    height: 26.98px;
    left: 950px;
    top: 320px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.pw{
    position: absolute;
    width: 80px;
    height: 25.81px;
    left: 950px;
    top: 380px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}


.TEXTFIELDnim{
    position: absolute;
    width: 400px;
    height: 33.3px;
    left: 950px;
    top: 345px;

    border-radius: 10px;
}

.TEXTFIELDpw{
    position: absolute;
    left: 950px;
    top: 405px;

    border-radius: 10px;
}

button{
    position: absolute;
    width: 280px;
    height: 33.3px;
    left: 960px;
    top: 450.8px;

    background: #053B50;

    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.tulisanlogin{
    color: #FFFFFF;
}


hr{
    position: absolute;
    width: 305px;
    height: 0px;
    left: 950px;
    top: 505.17px;

    border: 1px solid #B0B0B0;
}


.visi{
    position: relative;
    width: 783px;
    height: 122px;
    left: 50px;
    top: 490px;
    margin-bottom: 20px;
}


.footer {
    width: 100%;
    height: 160px;
    text-align: left;
    padding: 30px 30px 30px 30px;
    position: relative;
    top: 500px;

    background-color: #053B50;
}

.MAP img{
    width: 160px;
    height: 105px;
    left: 36px;
    bottom: 100px;
}

.iconlokasi{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 215px;
    bottom: 68%;
}

.iconwa{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 220px;
    bottom: 38%;
}

.iconemail{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 220px;
    bottom: 12%;
}

h2{
    position: absolute;
    left: 255px;
    bottom: 75%;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;

    color: #FFFFFF;
}

h3{
    position: absolute;
    left: 255px;
    bottom: 65%;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;

    color: #FFFFFF;
}

h4{
    position: absolute;
    left: 255px;
    bottom: 38%;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;

    color: #FFFFFF;
}

h5{
    position: absolute;
    left: 255px;
    bottom: 12%;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;

    color: #FFFFFF;
}

.footer2{
    position: absolute;
    bottom: -10%;
    left: 0%;
    right: 0%;
    text-align: center;

    background: #176B87;
}

.footer2 i {
    font-size: 15px;
    color: #FFFFFF;
}

.social-icons{
    position: relative;
    text-align: right;
    bottom: 120px;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}

